body{
    background-color: rgb(70, 152, 207);
    text-align: center;
}
#logout{
    text-align: center;
}
#add_room{
    width: 1500px;
}
#output
{
    text-align: center;
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}